body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.img {

  &--brightness-20 {
    filter: brightness(80%);
  }
  
}

.d-relative {
  position: relative;
}