$white: #ffffff;
$black: #000000;

$cremeWhite: #F3EDD5;

$darkBrown: #422114;
$lightBrown: #D9BE93;
$mediumBrown: #A76A3B;
$redBrown: #8D3D22;

$darkGreenOld: #277e33;
$darkGreen: #03a87c;
$mediumGreenOld: #68b86b;
$mediumGreen: #02B875;
$lightGreen: #40C142;