.aktuelles {

    &__subtitle {
        font-family: 'Courgette', cursive;
        font-weight: 300;
        font-size: 1.5rem;
        margin-top: 0.75rem;

        @mixin atSmall {
            font-size: 1.625rem;
            margin-top: 0;
        }

        @mixin atMedium {
            font-size: 1.875rem;
        }

        @mixin atLarge {
            font-size: 2.125rem;
        }
    }

    &__content-text {
        line-height: 1.35;
        font-weight: 300;

        @mixin atMedium {
            font-size: 1.125rem;
        }
        
        &--small {
            font-size: 0.875rem;
            float: right;
        }
    }
}