.button {
    background-color: $white;
    color: $darkgreen;
    border: 1px solid $darkgreen;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    border-radius: 0.625rem;

    &--large {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        border: 1px solid $darkgreen;

        @mixin atSmall {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }
    }

    &:hover {
        background-color: $darkgreen;
        text-decoration: none;
        color: $white;
        border: 1px solid $white;
    }

}