.events {
    position: relative;
    display: block;

    &__text-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: #fff;
        transform: translateY(-50%);
    }

    &__title {
        font-family: 'Courgette', cursive;
        font-weight: 300;
        font-size: 2.8rem;
        margin: 0;
        text-align: center;
    }

    &__text {
        color: #fff;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        max-width: 50rem;
        line-height: 1.35;
    }
}