.events {
    background: $darkbrown;
    height: 100%;
    background-size: cover;
    display: block;

    @mixin atMedium {
        &.lazyloaded {
            background: url('../../assets/images/event-md.jpg') 50% 0 fixed no-repeat;
            background-size: cover;
        }
    }

    @mixin atLarge {
        &.lazyloaded {
            background: url('../../assets/images/event-lg.jpg') 50% 0 fixed no-repeat;
            background-size: cover;
        }
    }

    &__text-content {
        color: $white;
    }

    &__text {
        color: $white;
        line-height: 1.35;
        font-weight: 300;

        @mixin atMedium {
            font-size: 1.125rem;
        }
    }
}