.events {
    background: url('../../assets/images/events-large.jpg') 50% 0 fixed no-repeat;
    height: 100%;
    background-size: cover;
    display: block;

    &__section-header {
        margin-bottom: 1.5rem;
    }

    &__text-content {
        color: #fff;
    }

    &__title {
        font-family: 'Courgette', cursive;
        margin: 0;
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: 2rem;

        @mixin atSmall {
            font-size: 2.25rem;
        }

        @mixin atMedium {
            font-size: 2.5rem;
        }

        @mixin atLarge {
            font-size: 2.75rem;
        }
    }

    &__text {
        color: #fff;
        line-height: 1.35;
        font-weight: 300;

        @mixin atMedium {
            font-size: 1.125rem;
        }
    }
}