.footer {

    &__bg-black {
        background: #000;
    }

    &__text-center {
        padding: 1.2rem 0;
        text-align: center;
    }

    &__content-text {
        color: $white;

        & a {
            color: $white;
        }

        & a:hover {
            color: $darkGreen;
            text-decoration: none;
        }
        
        /* & a:visited {
            color: $mediumBrown;
        } */
        
        /* & a:active {
            color: $mediumBrown;
        }

        & a:focus {
            color: $mediumGreen;
        } */
    }

}