.large-hero {
    position: relative;
    border-bottom: 10px solid $darkGreen;

    &__image {
        display: block;
    }

    &__text-content {
        padding-top: 88px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atMedium {
            padding-top: 60px;
        }
    }

    &__title {
        font-family: 'Courgette', cursive;
        font-weight: 300;
        color: #fff;
        text-shadow: 1px 2px 0 rgba(39, 126, 51, 0.7);
        margin: 0;

        @mixin atMedium {
            font-size: 2.5rem;
        }

        @mixin atLarge {
            font-size: 3rem;
        }
    }

    &__subtitle {
        font-family: 'Courgette', cursive;
        color: #fff;
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 1.15;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        text-align: justify;
        max-width: 257px;

        @mixin atSmall {
            line-height: 1.25;
            padding-bottom: 0;
        }

        @mixin atMedium {
            font-size: 1.5rem;
            line-height: 1.15;
            max-width: 280px;
        }

        @mixin atLarge {
            font-size: 1.75rem;
            line-height: 1.05;
            max-width: 326px;
        }
    }

    &__text {
        font-family: 'Courgette', cursive;
        color: #fff;
        font-size: 1.375rem;
        font-weight: 300;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        padding: 0.75rem 0;

        @mixin atMedium {
            font-size: 1.5rem;
            padding: 1.5rem 0;
        }

        @mixin atLarge {
            font-size: 1.75rem;
            padding: 1.75rem 0;
        }
    }
}