.contact {
    background: $darkbrown;
    height: 100%;
    background-size: cover;
    display: block;

    @mixin atMedium {
        &.lazyloaded {
            background: url('../../assets/images/kontakt-medium.jpg') 50% 0 fixed no-repeat;
            background-size: cover;
        }
    }

    @mixin atLarge {
        &.lazyloaded {
            background: url("../../assets/images/kontakt-large.jpg") 50% 0 fixed no-repeat;
            background-size: cover;
        }
    }

    &__text-content {
        color: $white;
    }

    &__text {
        color: $white;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        max-width: 50rem;
        line-height: 1.35;
    }

    &__message-box {
        resize: none;
    }

    &__embed-container {
        margin-top: 1.75rem;

        @mixin atMedium {
            margin-top:  0;
        }
    }

    &__google-map {
        width: 100%;
        height: 520px;
    }
}