.contact {
    background: url('../../assets/images/kontakt.jpg') 50% 0 fixed no-repeat;
    height: 100%;
    background-size: cover;
    display: block;

    &__text-content {
        color: #fff;
    }

    &__section-header {
        margin-bottom: 1.5rem;
    }

    &__title {
        font-family: 'Courgette', cursive;
        font-weight: 300;
        font-size: 2.8rem;
        margin: 0;
        text-align: center;
    }

    &__text {
        color: #fff;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        max-width: 50rem;
        line-height: 1.35;
    }

    &__message-box {
        resize: none;
    }
}