.contact {
    background: $darkBrown;
    height: 100%;
    background-size: cover;
    display: block;

    @mixin atMedium {
        background: url('../../assets/images/kontakt-medium.jpg') 50% 0 fixed no-repeat;
        background-size: cover;
    }

    @mixin atLarge {
        background: url("../../assets/images/kontakt-large.jpg") 50% 0 fixed no-repeat;
        background-size: cover;
    }

    &__text-content {
        color: #fff;
    }

    &__section-header {
        margin-bottom: 1.5rem;
    }

    &__title {
        font-family: 'Courgette', cursive;
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;

        @mixin atSmall {
            font-size: 2.25rem;
        }

        @mixin atMedium {
            font-size: 2.5rem;
        }

        @mixin atLarge {
            font-size: 2.75rem;
        }
    }

    &__text {
        color: #fff;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        max-width: 50rem;
        line-height: 1.35;
    }

    &__message-box {
        resize: none;
    }

    &__embed-container {
        margin-top: 1.75rem;

        @mixin atMedium {
            margin-top:  0;
        }
    }

    &__google-map {
        width: 100%;
        height: 520px;
    }
}