.site-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 12px 0;
    transition: background-color .3s ease-out;
    
    &--is-expanded {
        background-color: rgba($white, .75);
    }
    
    @mixin atMedium {
        position: fixed;
        background-color: rgba($white, .5);


        &--dark {
            background-color: $white;
            border-bottom: 2px solid $darkgreen;
        }
    }


    &__button-container {

        @mixin atMedium {
            float: right;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: 50% 0;
        background-color: $white;
        padding: 20px 30px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: none;

        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            box-shadow: 0px 4px 5px 5px rgba(89,89,89, .2);
            transition: all .3s ease-out;

            .site-header--dark & {
                transform: scale(.5);
                box-shadow: none;
                background-color: transparent;
            }
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white;
            transform-origin: 0 0;
            transition: all .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white;
            transform-origin: 0 0;
            transition: all .3s ease;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white;
            transform-origin: 0 100%;
            transition: all .3s ease-out;
        }


        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            background-color: $darkgrey;
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            background-color: $darkgrey;
            transform: rotate(-45deg) scale(1.25) translateY(1px);
        }
    }

    &__menu-content {
        opacity: 0;
        padding-top: 105px;
        text-align: left;
        position: relative;
        z-index: -10;
        transform: translateY(-50vh);
        transition: all .3s ease-out;

        @mixin atSmall {
            padding-top: 115px;
        }

        @mixin atMedium {
            padding-top: 0;
            opacity: 1;
            z-index: 1;
            transform: translateY(0vh);
        }

        &--is-visible {
            opacity: 1;
            z-index: 1;
            transform: translateY(0vh);
        }
    }
}