.social-icons {
  text-align: center;
  margin-top: 8px;

  &__icon {
    background-color: $darkgreen;
    display: inline-block;
    /* margin: 0 5px 5px 5px; */
    width: 56px;
    height: 56px;
    position: relative;
    border-radius: 8px;

    @mixin atSmall {
      /* width: 72px; */
      margin: 0 5px;
    }

    .icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__icon:hover {
    background-color: $grey;
  }
}