.subfooter {

    &__column {
        padding-top: 2.5rem;

        &:first-child {
            padding-top: 0;
        }

        @mixin atSmall {
            padding-top: 0;
        }
    }

    &__title {
        font-family: 'Courgette', cursive;
        font-weight: 300;
        font-size: 1.8rem;
        margin: 0;
        text-align: center;
    }

    &__text {
        font-weight: 500;
        font-size: 1.125rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__content-header {
        margin-bottom: .5rem;
    }

    &__content-text {
        &--center {
            text-align: center;
        }
        
    }

    &__opentime-table {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.125rem;
        font-weight: 500;
        table-layout:auto;
        width: 80%;

    }

    &__opentime-row {
        
        &--active {
            background: $darkGreen;
            color: #fff;
        }
    }

    &__opentime-row td:nth-child(2) {
        text-align: right;
    }
}