.subfooter {
    padding: 4.5rem 0;
}

.subfooter-item {
    position: relative;

    &__header {
        text-align: center;
    }

    &__icon {
        display: inline-block;
        vertical-align: sub;
    }

    &__title {
        font-size: 1.8rem;
        display: inline-block;
        padding-left: 7px;
    }

    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 1.125rem;
        list-style-type: none;
        margin: 0;
        padding: 4px 8px;
    }

    &__text:first-child {
        padding-top: 0;
    }

    &__opentime-table {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.125rem;
        font-weight: 500;
        table-layout:auto;

        & td {
            padding: 4px 8px;
        }
    }

    &__opentime-row {
        
        &--active {
            background: $darkgreen;
            color: #fff;
        }
    }

    &__opentime-row td:nth-child(2) {
        text-align: right;
    }
}